@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@700&display=swap');

/*General Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.overlay, .overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay{
  height: 100%;
  z-index: 10;

} 
.overlay2{
  position: absolute;
  height: calc(100% - 81px);
/* top: 81px; */
  z-index:0;

}
/*Utility Styles*/
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}


/*Home Styles*/

.homeMainDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(228, 235, 250);

}

.homeMainDiv a {
  cursor: pointer;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.logoDiv h1 {
  color: rgb(0, 1, 18);
}

a.homeLink {
  padding: 15px 90px;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(99, 95, 199);
  opacity: 1;
  color: white;
}

/*Board Nav Styles*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 97px;
  width: 100%;
}

.boardLogoNavDiv {
  border-right: solid 1px rgb(228, 235, 250, 0.25);
  height: 97px;
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: none;
  width: 320px;
  background-color: white;
  /* flex: 1; */
}

.bigNavDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding: 2rem;
  align-items: center;
  height: 97px;
  border-bottom: solid 1px rgb(228, 235, 250, 0.25);
  background-color: white;
}

.buttonNavDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.buttonNavDiv img {
  height: 20px;
  cursor: pointer;

}

.buttonNavDiv button {
  width: 8rem;
  height: 3rem;
  border-radius: 30px;
  border: none;
  background-color: rgb(99, 95, 199);
  color: white;
  cursor: pointer;
}



.buttonNavDiv button:hover {
  background-color: rgb(168, 164, 255);
}

.buttonNavDiv button:disabled {
  pointer-events: none;
  opacity: 0.35;
}

.bigNavDiv h1 {
  font-size: 25px;
  font-weight: 900;

}

.editBoardBox {
  height: 100px;
  width: 200px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 2rem;
      z-index: 1;
}

.editBoardBox p {
  padding-left: 1rem;
}

.editBoardBox.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: .5s;
}

.editBoardBox.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: .5s;
}
.greyP {
  color: rgb(130, 143, 163);
  cursor: pointer;
}

.redP {
  color: rgb(234, 85, 85);
  cursor: pointer;

}

.newBoardForm,
.editBoardForm,
.deleteBoardForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 11;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30rem;
  padding: 2rem;
}

.newBoardForm label,
.editBoardForm label {
  font-size: .8rem;
  color: rgb(130, 143, 163);
  padding-top: 1.4rem;
  padding-bottom: .5rem;
  font-weight: 600;

}

.deleteBoardForm h3 {
  color: rgb(234, 85, 85);
  font-size: 1rem;
  padding-bottom: 1.4rem;
}

.deleteBoardForm p {
  color: rgb(130, 143, 163);
  font-size: .8rem;
  line-height: 1.3rem;
  padding-bottom: 1.3rem;
}


.deleteButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.redDeleteButton {
  width: 45%;
  height: 2.5rem;
  border-radius: 22px;
  border: none;
  background-color: rgb(234, 85, 85);
  color: white;
  cursor: pointer;
}

.redDeleteButton:hover {
  background-color: rgb(255, 152, 152);

}

.lightDeleteButton {
  width: 45%;
  height: 2.5rem;
  border-radius: 22px;
  border: none;
  background-color: rgb(229, 229, 236);
  color: rgb(99, 95, 199);
  cursor: pointer;
}

.lightDeleteButton:hover {
  background-color: rgb(212, 212, 232);

}

.newBoardForm2 {
  width: 100%;
  display: flex;
  flex-direction: row;

}



.newBoardForm2 button {
  background-color: transparent;
  border: none;
  padding-left: 1rem;
  cursor: pointer;
}

.newBoardForm2 input {

  /* margin-bottom: .8rem; */
}



button.lightButton {
  width: 100%;
  height: 2.7rem;
  border-radius: 22px;
  border: none;
  background-color: rgb(229, 229, 236);
  color: rgb(99, 95, 199);
  cursor: pointer;
}

button.lightButton:hover {
  background-color: rgb(212, 212, 232);

}

button.darkButton {
  width: 100%;
  margin-top: 1.8rem;
  height: 2.7rem;
  border-radius: 22px;
  border: none;
  background-color: rgb(99, 95, 199);
  color: white;
  cursor: pointer;
}

button.darkButton:hover {
  background-color: rgb(168, 164, 255);

}

button.darkButton:disabled {
  pointer-events: none;
  opacity: 0.35;
}

.newBoardForm input,
.editBoardForm input {
  width: 100%;
  height: 2.3rem;
  /* border: 1px solid rgb(203, 210, 221);
  border-radius: 5px; */
  outline: 0;
  border: 0;
}

/* #title, #name{
border: 1px solid rgb(203, 210, 221);
  border-radius: 5px; 

} */
.newBoardForm textarea {
  width: 100%;
  height: 7rem;
  border: 1px solid rgb(203, 210, 221);
  border-radius: 5px;
  font-family: Plus Jakarta Sans;
}

.newBoardForm input[type=text] {

  padding-left: 10px;

}

.inputClass {
  border: 1px solid rgb(203, 210, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 5px;

}

.inputClass span {
  font-size: .9rem;
  width: 50%;
  color: rgb(234, 85, 85);
}

.newBoardForm textarea {

  padding: 10px 0 0 10px;

}

@media (max-width: 769px) {
  .bigNavDiv h1 {
    font-size: 1.2rem;
  }

  .bigNavDiv {
    width: 10rem;
  }

  .boardLogoNavDiv {
    /* width: 261px; */
    max-width: 16rem;
  }

  .buttonNavDiv {
    width: 12rem;
  }

  .buttonNavDiv button {
    width: 10rem;
  }

  header {
    max-height: 81px;
  }
}

.boardLogoNavDivMobile,.boardSecondNavDivMobile{
  display: none;
}

@media (max-width: 600px) {
  .bigNavDiv h1 {
    font-size: 1rem;
  }

  .bigNavDiv {
    padding: 1rem;
  }

  .buttonNavDiv button {
    width: 7rem;
  }
}

@media (max-width: 500px) {
  .bigNavDiv h1 {
    font-size: 1rem;
  }

  .bigNavDiv {
    padding: 1rem;
  }

  .buttonNavDiv button {
    width: 6rem;
    font-size: .6rem;
  }
}
@media (max-width: 470px) {
.boardLogoNavDiv,
.bigNavDiv{
  display:none
}.boardLogoNavDivMobile,.boardSecondNavDivMobile{
  display: flex;
}

.deleteBoardForm{
      width: 21rem;
}
.editBoardBox{
      right: 1rem;
}
}


/*Column-Task Styles*/

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  background-color: rgb(244, 247, 253);
  align-items: stretch;
  height: 100%;
}

.mainContainer.active{

  transform: translateX(0);
  transition: transform .5s;
}

.mainContainer.inactive{

  transform: translateX(-320px);
  transition: transform .5s;
}

.bigMainColumnsContainer {
  height: 100%;
  background-color: rgb(244, 247, 253);

}

.mainColumnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(244, 247, 253);
  overflow-x: scroll;
}

/* .mainColumnsContainer.active{

  transform: translateX(0);
  transition: transform .5s;
}

.mainColumnsContainer.inactive{

  transform: translateX(-320px);
  transition: transform .5s;
} */

.mainColumnsContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(244, 247, 253);
  overflow-x: scroll;
}

.mainColumnsContainer2 p {
  color: rgb(130, 143, 163);
  margin-bottom: 2rem;
  font-weight: 500;
}

.mainColumnsContainer2 button {
  width: 10rem;
  height: 2.7rem;
  border-radius: 22px;
  border: none;
  background-color: rgb(99, 95, 199);
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.mainColumnsContainer2 button:hover {
  background-color: rgb(168, 164, 255);

}

.columnscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 2rem;
}

.columnName {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  align-items: center;

}

.columnName span {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  /* background-color: blue; */
}

.columnName p {
  margin-left: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(130, 143, 163);
  font-weight: 500;
}

.taskBox {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem 2rem 2rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: .4rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15); */
  box-shadow: 0 10px 10px -3px rgb(0 0 0 / 10%), 0 1px 6px -4px rgb(0 0 0 / 10%);
}

.taskBox h4 {
  padding-bottom: 10px;
}

.taskBox p {
  color: rgb(130, 143, 163);
  font-weight: 500;
}

.taskBox:hover h4 {
  color: rgb(99, 95, 199);
}

.columnsContainerPlus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  height: 100%;
}

.columnNamePlus {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  align-items: center;
  color: rgb(244, 247, 253);
}

.columnNamePlus span {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: rgb(244, 247, 253);
  margin-right: .7rem;
}

.taskBoxPlus {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  margin-bottom: 1.5rem;
  background-color: rgb(228, 235, 250);
  border-radius: .4rem;
  height: 100%;
  cursor: pointer;
}

.taskBoxPlus h4 {
  font-size: 1.5rem;
  color: rgb(130, 143, 163);
}

.taskBoxPlus:hover h4 {
  color: rgb(99, 95, 199);
}

@media (max-width: 769px) {
  .mainColumnsContainer2 {
    padding-bottom: 6rem;
  }

  .mainColumnsContainer2 p {
    padding: 0 6rem;
    text-align: center;
  }

  .columnName p {
    font-size: .75rem;
    font-weight: 500;
  }
}

@media (max-width: 470px) {
    .mainColumnsContainer2 p {
      font-size: 1.2rem;
    padding: 0 2rem;
    text-align: center;
  }
  .mainColumnsContainer2 button {
    width: 12rem;
        height: 2.9rem;
    border-radius: 25px;

 font-size: 1rem;
}

.columnscontainer{
  padding: 2rem 0 0 1.6rem;
}
.columnscontainer:nth-of-type(1){
  padding: 2rem 0 0 1rem;
}

}

/*Sidebar Styles*/

.sidebarClosedButton {
  height: 30px;
  width: 40px;
  background-color: rgb(99, 95, 199);
  border-radius: 0 3rem 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10rem;
  left: 0;
  cursor: pointer;
}

.sidebarClosedButton.active{
  /* opacity: 1;
  visibility: visible; */
  transform: translateX(-40px);
  transition: transform .5s;
}

.sidebarClosedButton.inactive{
  /* opacity: 0;
  visibility: hidden; */
  transform: translateX(320px);
  transition: transform .5s;
}

.sidebarClosedButton:hover {
  background-color: rgb(168, 164, 255);
}

.sidebarOpen {
  background-color: white;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 320px;
  position: relative;
  border-right: solid 1px rgb(228, 235, 250, 0.25);
}

.sidebarOpen.active{
  /* opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: transform .5s; */
}

.sidebarOpen.inactive{
  /* opacity: 0;
  visibility: hidden;
  transform: translateX(-320px);
  transition: transform .5s; */
}

.nameBoardSideBar {
  width: 320px;

}

.clickedBoard {
  display: flex;
  flex-direction: row;
  padding: .8rem 2rem .8rem 2rem;
  cursor: pointer;
}

.clickedBoard:hover {
  background-color: rgb(236, 235, 245);
  border-radius: 0 30px 30px 0;
  margin-right: 1.5rem;
  box-shadow: 0 10px 10px -3px rgb(0 0 0 / 10%), 0 1px 6px -4px rgb(0 0 0 / 10%);
}

.clickedBoard:hover p {
  color: rgb(99, 95, 199);
}

.clickedBoardHighlighted {
  display: flex;
  flex-direction: row;
  padding: .8rem 2rem .8rem 2rem;
  background-color: rgb(99, 95, 199);
  border-radius: 0 30px 30px 0;
  margin-right: 1.5rem;
  cursor: pointer;
}

.clickedBoardHighlighted:hover {
  background-color: rgb(168, 164, 255);

}

.createdBoard {
  display: flex;
  flex-direction: row;
  padding: .8rem 2rem .8rem 2rem;
  color: rgb(99, 95, 199);
  cursor: pointer;

}

.clickedBoardHighlighted p {
  color: white;
}

.nonClickedBoard {
  width: 25rem;
  display: flex;
  flex-direction: row;
  padding: 2rem;
}



.sidebarBoardName {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;

}

.sidebarBoardName p,
.clickedBoard p {
  color: rgb(130, 143, 163);

}

.sidebarBoardName p {
  letter-spacing: 2px
}

.boards p {
  padding-left: 1rem;
}

.toggleDiv {
  display: flex;
  flex-direction: row;
  width: 15rem;
  justify-content: center;
  background-color: rgb(228, 235, 250);
  padding: .7rem 0;
  border-radius: .4rem;

}

.toggleDiv img {
  padding: 0 2rem 0 2rem;
}

.clickSidebarOffDiv {
  display: flex;
  flex-direction: row;
  width: 19rem;
  border-radius: 0 30px 30px 0;
  margin: 1rem 3rem 3rem 0;
  padding: 0.8rem 2rem 0.8rem 1.4rem;
  /* width: 100%; */
  cursor: pointer;
}

.clickSidebarOffDiv p {
  padding-left: 1rem;
  color: rgb(130, 143, 163);
  ;
}

.clickSidebarOffDiv:hover {
  background-color: rgb(236, 235, 245);
  color: rgb(99, 95, 199);
}

.clickSidebarOffDiv:hover p {
  color: rgb(99, 95, 199);

}

.clickSidebarOffDiv img {
  padding-left: 2.2rem;
}

.toggleMainDiv {
  width: 100%;
  /* position: fixed;
  bottom: 4rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
margin-bottom: 4rem;
;
}

input[id=switch] {
  height: 0;
  width: 0;
  visibility: hidden;

}

label[id=switch] {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 21px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  background: rgb(99, 95, 199);

}

label[id=switch]:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 17px;
  transition: 0.2s;
}

label[id=switch]:hover {
  background-color: rgb(168, 164, 255);
}

input[id=switch]:checked+label[id=switch] {
  background: rgb(99, 95, 199);
}

input[id=switch]:checked+label[id=switch]:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label[id=switch]:active:after {
  width: 0px;
}

@media (max-width: 769px) {

  .sidebarOpen,
  .nameBoardSideBar {
    /* width: 261px;  */
    max-width: 16rem;

  }

  .clickSidebarOffDiv {
    padding-bottom: 0;
  }

  .clickSidebarOffDiv p {
    font-size: .9rem;
    font-weight: 600;
  }

  .sidebarBoardName p {
    font-size: .75rem;
    font-weight: 500;
  }

  .clickedBoard p {
    font-size: .9rem;
    font-weight: 500;
  }

  .clickedBoardHighlighted p {
    font-size: .9rem;
    font-weight: 500;
  }

  .createdBoard {
    font-size: .9rem;
    font-weight: 500;
  }

  .sidebarClosedButton {
    min-height: 48px;
    min-width: 56px;
  }

  .toggleMainDiv{
    margin-bottom: 0;

  }
}

@media (max-width: 470px) {
.sidebarOpen{
  position:absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 1rem;
    left: 0;   
     border-radius: 8px;
z-index: 1;
}
.sidebarOpen.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: .5s;
}

.sidebarOpen.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: .5s;
}

.clickSidebarOffDiv{
  display:none;
}

.toggleDiv{
  margin: 1rem 1rem 1rem 1rem;
}
header{
  justify-content: space-between;
}

.toggleMainDiv{
  position: relative;

}
.boardLogoNavDivMobile h1{
  font-size: 1.3rem;
  padding: 0 1rem 0 .5rem
}
.boardLogoNavDivMobile, .boardSecondNavDivMobile{
    display:flex;
  align-items: center;
}

.boardSecondNavDivMobile button{
  width: 3rem;
  height: 2rem;
  border-radius: 30px;
  border: none;
  background-color: rgb(99, 95, 199);
  color: white;
  cursor: pointer;
  display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.iconVerticalEllipsis{
  height: 20px;
  margin-right: 1rem;
  cursor: pointer;
}

#iconVerticalEllipsisButton{
  background-color:transparent;
width: 20px;
margin: 0;
}
.boardSecondNavDivMobile button:hover {
  background-color: rgb(168, 164, 255);
}
.logoMobile{
  width:24px;
  height: 25px;
  margin-left: 1rem;
    cursor: pointer;
}
.chevronDown{
  width:10px;
  height: 7px;
    cursor: pointer;
}
.chevronDown.active{

  transform: rotate(180deg);
  transition: .5s;
}

.chevronDown.inactive{

  transform: rotate(0deg);
  transition: .5s;
}
.chevronDownbutton{
  border: none;
  background: none;
}
}
/*Task Styles*/

.taskview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 11;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30rem;
  padding: 2rem;
}

.taskview h3 {
  padding-bottom: 1rem;
}

.taskandellipsis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 2rem; */
  width: 100%;
}

.taskandellipsis h2 {
  padding-right: 2rem;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  font-size: 1rem;
  padding-bottom: 1.7rem;
}

.taskandellipsis img {
  cursor: pointer;
}

.taskview h3,
.taskview label {
  font-size: .7rem;
  text-align: left;
  color: rgb(130, 143, 163);
}

.taskview h3 {
  font-weight: 300;
  line-height: 20px;
}

.taskview label {
  font-weight: 700;
  color: black
}

.editTaskBox {
  height: 100px;
  width: 200px;
  background-color: white;
  border-radius: 15px;
  display: none;
  justify-content: space-evenly;
  align-items: left;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: calc(30rem - 100px)
}

.editTaskBox p {
  padding-left: 1rem;
}

.labelSutasks {
  padding-bottom: 1rem;
}

.labelcolumns {
  padding-bottom: .6rem;
  padding-top: .75rem;
}

.selectcolumns {
  width: 100%;
  padding: .7rem;
  margin-bottom: .7rem;
  border-radius: 5px;
  border: 1px solid rgb(130, 143, 163);
  cursor: pointer;
}

@media (max-width: 769px) {
  .taskBox {
    width: 280px;
    padding: 1.1rem 2rem;
  }

  .taskBox p {
    font-size: .75rem;
  }
}
@media (max-width: 470px) {

.taskview, .newBoardForm{
    width: 21rem;
}

.inputClass span{
    font-size: .6rem;
}

.editTaskBox{
      top:3rem;

      right: 1rem;
          left:auto
}
}
/*Subtask Styles*/

.togglesubtask,
.darkinput {
  accent-color: rgb(99, 95, 199)
}

input.darkinput[type=checkbox]:after,
input.darkinput[type=checkbox]::after {
  content: " ";
  background-color: rgb(62, 63, 78);
  display: inline-block;
  color: #00BFF0;
  width: 13px;
  height: 13px;
  visibility: visible;
}

input.darkinput[type=checkbox]:checked:after {
  display: none;

}

.Subtask {
  width: 100%;
  padding: .7rem;
  background-color: rgb(244, 247, 253);
  margin-bottom: .7rem;
  border-radius: 5px;
}


.Subtask:hover {
  background-color: rgb(236, 235, 245);
}

.Subtask:hover label {
  font-weight: 800;
  color: black;
}

:checked+label {
  text-decoration: line-through;
  color: rgb(130, 143, 163);

}

.Subtask label {
  padding-left: 1rem;
  cursor: pointer;
}

.Subtask input {
  cursor: pointer;
}